body {
  background: #242424;
}

.container {
  margin: 0 auto;
  max-width: 600px;  

}

#menu {
  background-color: white;
  height: 30px;
  text-align: center;
  color: #242424;
}

h1 {
  color: white;
}

.square {
  width: 30%;
  background: purple;
  float: left;
  margin: 1.66%;
  padding-bottom: 30%
}

.selected {
  background-color: blue;
}